#-------------------------------------------------------------------------------
#
# ESLint Ignore Configuration, https://eslint.org/docs/user-guide/configuring
#
#-------------------------------------------------------------------------------

# Don't include build output
/dist/

# Don't lint node_modules
/node_modules/

# Don't lint test
/coverage/
