#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Don't include build output
/dist/

# Don't include NPM dependencies
/node_modules/

# Don't include test results
/coverage/

# Don't include any log files
*.log
