# Don't include Yarn dependencies
/node_modules/

# Don't include Go Mod dependencies
/vendor/

# Don't include IDE configuraiton
/.idea/

# Don't include coverage reports
/coverage.txt

# Keep this file even if directory has been ignored
!.keep
