#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Don't include NPM dependencies
/node_modules/

# Don't include test results
/coverage/
